  @import "mixins.less"; // Import the base mixins
  // Heading                  Size
  @h1:                        40;
  @h2:                        32;
  @h3:                        26;
  @h4:                        20;
  @h5:                        18;
  @h6:                        16;


/* General Resets */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url(/js/boxsizing.htc); }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html, button, input, select, textarea { font-family: sans-serif; }
body, form, fieldset, legend, input, select, textarea, button { margin: 0; }
html { font-size: 100%; }

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */

/* Micro Clearfix */
.clear:before, .clear:after { content: ""; display: table; } .clear:after { clear: both; } .clear { zoom: 1; }
.section:before, .section:after { content: ""; display: table; } .section:after { clear: both; } .section { zoom: 1; }
.checkbox:before, .checkbox:after { content: ""; display: table; } .checkbox:after { clear: both; } .checkbox { zoom: 1; }

/* Helpers */
.leftFl { float: left; }
.rightFl { float: right; }
.block { display: block; }
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.inline { display: inline; }
.strong { font-weight: bold; }
.italic { font-style: italic; }
.center-text { text-align: center; }
.none,
[hidden] {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: (auto);
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}

/* Alert */
.alert {
  background-color: #ffc;
  .block();
  padding: 8px;
  .rounded(5);
}
.no-desktop { .none(); }
.frame-it {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
