/* IMPORTS
@import url("css/normalize.css");*/
@import "base.less"; // Import the base mixins

// Global Defaults
@window-width: 							'$(window).height()';
@base-logo-color: 					#f00;
@base-logo-dimensions: 			333px;
@center: 										50%;
@top-right-corner: 					13px;
@title-background: 					rgba(255, 255, 255, 0.42);


/* LESS APP LAYOUT STYLES */

// Base styles
@keyframes rotate-logo {
	0%   { transform: perspective(814px) rotateY(-10deg); }
	100% { transform: perspective(814px) rotateY(10deg); }
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}




// First Interface
.left {
	background: #fff;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 9;
	bottom: 0;
	width: @center;
	.transition(0.1s, ease-in);
	&.open {
		background: #fff;
		.transition(1s, ease-out);
	}
}
.right {
	bottom: 0;
	background: #fff;
	right: 0;
	top: 0;
	position: absolute;
	z-index: 9;
	width: @center;
	.transition(0.1s, ease-in);
	&.open {
		background: #fff;
		.transition(1s, ease-out);
	}
}
.logo {
	position: absolute;
	top: @center;
	left: @center;
	margin-top: -@base-logo-dimensions / 2;
	margin-left: -@base-logo-dimensions / 2;
	width: @base-logo-dimensions;
	height: @base-logo-dimensions;
	z-index: 11;
	background-image: url(/img/kuzyaLogo.png);
	background-size: cover;
	.transition(0.333s, ease-in);
	.user-select(none);
	&.open {
		//top: 0;
		//left: 0;
		.scale(0.5);
		.transition(0.333s, ease-out);
		//.pointer-events(none);
	}
	&.hide {
		.scale(0);
		.transition(0.333s, ease-out);
		.pointer-events(none);
	}
}
#sublogo {
	transform-style: preserve-3d;
	animation: rotate-logo 2s infinite alternate ease-in-out;
	transform: perspective(800px) rotateY(0deg);
	transition: all 2s ease-in-out;

	position: absolute;
	top: @center;
	left: @center;
	margin-top: -@base-logo-dimensions / 2;
	margin-left: -@base-logo-dimensions / 2;
	width: @base-logo-dimensions + 2;
	height: @base-logo-dimensions + 2;
	opacity: 0.3;
	z-index: 10;
	background-image: url(/img/kuzyaLogo.png);
	background-size: cover;
	&.hide {
		display: none;
	}
}
#social-links {
	font-size: 12px;
	position: absolute;
	top: @top-right-corner;
	right: @top-right-corner;
	z-index: 12;
	.transition(1s, ease-in);
	.user-select(none);
	&.hide {
		.scale(0);
		.transition(0.111s, ease-out);
		.pointer-events(none);
	}
}


// View of Galleries
#galleries {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;

	// Galleries level
	#album_wrap {
		display: block;
		position: absolute;
		top: 50px;
		bottom: 50px;
		left: 0;
		right: 0;

		.picasagallery_album {
			display: inline-block;
			vertical-align: top;
			width: calc(100% / 3);
			height: 100%;
			background-size: cover;
			strong {
				display: block;
				text-align: right;
				background: @title-background;
				padding: 13px 13px 0;
			}
			em {
				font-size: 11px;
				text-align: right;
				background: @title-background / 2;
				display: block;
				padding: 0 13px 0;
			}
		}
	}

	// Album level
	.picasagallery_header {
		z-index: 3;
		position: absolute;
		top: 13px;
		right: 119px;
		width: 0;
		height: 0;
		border-top: 18px solid transparent;
		border-bottom: 16px solid transparent;
		border-right: 42px solid @title-background;
	}
	.picasagallery_title {
		z-index: 4;
		position: absolute;
		top: @top-right-corner;
		right: @top-right-corner;
		background: @title-background;
		padding: 9px 13px;
		width: 99px;
		text-align: center;
		a {
			text-decoration: none;
			color: #000;
		}
	}
	.picasagallery_thumbnail {
		display: inline-block;
		width: calc(100% / 6);
		img {
			width: 100%;
			height: 100%;
		}
	}

	// Image level
	#image {
		background-size: contain;
		background-position: center center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

}








// Loader
.loading  {
    top:50%;
    left: 50%;
		margin-left: -22px;
		margin-top: -22px;
    position: absolute;
    width: 3em;
    height: 3em;
    animation-name:rotate;
}

.loading,
.loading:before,
.loading:after  {
    border-radius: 100%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.loading:before,
.loading:after  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.loading:before  {
    background: rgba(200, 250, 100, 0);
    animation-name: ring;
}

.loading:after  {
    background: rgba(250, 0, 200, 0);
    animation-name: ring2;
}

@keyframes rotate  {
    0%  {
        transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5),
                    inset 0 0.8em 0 rgba(252, 150, 0, 0.5),
                    inset -0.8em 0 0 rgba(0, 255, 0, 0.5),
                    inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    /* hidden */

    85%, 100%  {

    /* 360deg * 10 */

        transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0),
                    inset 0 0 0 rgba(252, 150, 0, 0),
                    inset 0 0 0 rgba(0, 255, 0, 0),
                    inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@keyframes ring  {
    0%  {
        transform: scaleX(0.1) scaleY(0.5);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5),
                    inset 0 0.8em 0 rgba(252, 150, 0, 0.5),
                    inset -0.8em 0 0 rgba(0, 255, 0, 0.5),
                    inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    /* hidden */

    75%, 100%  {
        transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0),
                    inset 0 0 0 rgba(252, 150, 0, 0),
                    inset 0 0 0 rgba(0, 255, 0, 0),
                    inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@keyframes ring2  {
    0%  {
        transform: scaleX(0.5) scaleY(0.1);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5),
                    inset 0 0.8em 0 rgba(252, 150, 0, 0.5),
                    inset -0.8em 0 0 rgba(0, 255, 0, 0.5),
                    inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    /* hidden */

    65%, 100%  {
        transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0),
                    inset 0 0 0 rgba(252, 150, 0, 0),
                    inset 0 0 0 rgba(0, 255, 0, 0),
                    inset 0 0 0 rgba(0, 150, 255, 0);
    }
}
