/* IMPORTS
@import url("css/normalize.css");*/
@import "base.less"; // Import the base mixins

// Global Defaults
@window-width: 							'$(window).height()';
@base-logo-color: 					#f00;
@base-logo-width: 					269px;
@base-logo-height: 					167px;
@center: 										50%;
@top-right-corner: 					13px;
@bottom-right-corner: 			13px;
@title-background: 					rgba(255, 255, 255, 0.42);
@primary-curve:             cubic-bezier(0.19, 1, 0.22, 1);
@primary-time: 							600ms 420ms;

/////////////////////////////// MEDIA QUERIES ////////////////////////////////
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
/////////////////////////////////////////////////////////////////////////////


/* LESS APP LAYOUT STYLES */

// Base styles
@keyframes rotate-logo {
	0%   { transform: perspective(666px) rotateY(-13deg); }
	100% { transform: perspective(666px) rotateY(13deg); }
}

body {
	.frame-it;
	overflow: hidden;
}

// Google Ads
.gAd {height: 250px;width: 300px;vertical-align: top;position: relative;
	iframe { .frame-it; }
}


// First Interface
#content {
	opacity: 0;
	&.open {
		opacity: 1;
		.transition(@primary-time, @primary-curve);
	}
}

.logo {
	position: absolute;
	top: @center;
	left: @center;
	margin-top: -@base-logo-height / 2;
	margin-left: -@base-logo-width / 2;
	width: @base-logo-width;
	height: @base-logo-height;
	z-index: 11;
  background: url(/img/hover.png) 0 0 no-repeat;
  animation: fly-in 2s 1, bird-hover 1s steps(14) infinite;
	background-size: cover;
	.transition(900ms, cubic-bezier(0.68, -0.55, 0.265, 1.55));
	.user-select(none);
	cursor: default;
	&.open {
		.scale(1);
		//.pointer-events(none);
		transform: opacity 1s ease;
		opacity:1;
	}
	&.hide {
		.scale(3);
		.pointer-events(none);
		transform: opacity 1s ease;
		opacity:0;
	}
	@media @mobile {display: none;}
	@media @tablet {display: none;}
}
@keyframes fly-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes bird-glide {
    0% {background-position: 0 0;} //3766 3497
    100% {background-position: -807px 0;}
}
@keyframes bird-flare {
    0% {background-position: 0 0;} //3766 3497
    50% {transform: scale(1.5);}
    100% {background-position: -4573px 0;}
}
@keyframes bird-hover {
    0% {background-position: 0 0;} //3766 3497
    100% {background-position: -3766px 0;}
}


#social-links {
	font-size: 12px;
	position: fixed;
	bottom: @bottom-right-corner;
	right: @top-right-corner + 30;
	z-index: 12;
	.transition(1s, ease-in);
	.user-select(none);
	&.hide {
		.scale(0);
		.transition(0.111s, ease-out);
		.pointer-events(none);
	}
}

// Content
#content {
	.frame-it;
	overflow-y: auto;
}

// View of Galleries
#galleries {
	.frame-it;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;

	// Galleries level
	#album_wrap {
		display: block;
		position: absolute;
		.frame-it;

		.picasagallery_album {
			display: inline-block;
			vertical-align: top;
			width: calc(100% / 3);
			height: 100%;
			background-size: contain;
			cursor: pointer;
			strong {
				display: block;
				text-align: right;
				background: @title-background;
				padding: 13px 13px 0;
				color: #fff;
				font-size: 23px;
				line-height: 1;
			}
			em {
				font-size: 11px;
				text-align: right;
				background: @title-background / 2;
				display: block;
				padding: 0 13px 0;
			}
		}
	}

	// Album level
	.picasagallery_header {
		z-index: 3;
		position: fixed;
		top: 13px;
		right: 139px;
		width: 55px;
		height: 32px;
		line-height: 23px;
		background: rgba(255, 255, 255, 0.42);
		color: #000;
		cursor: pointer;
		text-align: center;
		font-size: 32px;
	}
	.picasagallery_title {
		z-index: 4;
		position: fixed;
		top: @top-right-corner;
		right: @top-right-corner;
		background: @title-background;
		width: 123px;
		height: 32px;
		text-align: center;
		cursor: pointer;
		&.full {
			top: 0px;	right: 0px;	left: 0px; bottom: 0px;
			height: auto; width: auto;
			background: transparent;
		}

		a {
			text-decoration: none;
			color: #000;
			display: block;
			height: 100%;
			line-height: 30px;
		}
	}
	.picasagallery_thumbnail {
		display: inline-block;
		width: calc(100% / 6);
		img {
			width: 100%;
			height: 100%;
		}
		@media @mobile { width: calc(100% / 1); }
		@media @tablet { width: calc(100% / 2); }
	}

	// Image level
	#image {
		background-size: contain;
		background-position: center center;
		.frame-it;
	}

}


// cursor
.cursor{
	background:rgba(255,255,255,.5);
	cursor:pointer;
	display:inline-block;
  padding: 3px 6px;
  position: absolute;
  font-size: 0.6em;
}



// Loader
.loader {
  height:1px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.innerLoader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: #000;
  animation: loader 1s infinite;
  transition: all 666ms 333ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes loader {
 	from { left:50%; right:50%; }
  to { left:0; right:0; }
}


// Image Liker
#liker {
  user-select:none;
	position: fixed;
	bottom: 32px; left: 13px;
  height: 42px; width: 69px;
  text-align: center;
  z-index: 10;
  > div {
    transition: all .1s ease;
    position: relative;
    transform: scale(0.5);
    left: 4px;
    &:before,&:after {
      position:absolute;
      content:"";
      left:25px;
      top:0;
      width:25px;
      height:40px;
      background:#f33;
      border-radius:25px 25px 0 0;
      transform:rotate(-45deg);
      transform-origin:0 100%;
    }
    &:after {
      left:0;
      transform:rotate(45deg);
      transform-origin:100% 100%;
    }
    &.zoom {
      transform: scale(1);
      transition: all 1s ease;
      left: 9px;
      &.liked {
        transition: 150ms ease;
        animation: beat 0.42s infinite;
        transform-style: preserve-3d;
      }
    }
  }
  > span {
    display: block;
    pointer-events: none;
    z-index: -1;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.3);
    font-size: 0.7em;
  }
}
@keyframes beat {
  0% 		{transform : scale(1);	}
  15% 	{transform : scale(1.3);}
  25% 	{transform : scale(0.8);}
  50% 	{transform : scale(1.1);}
  100% 	{transform : scale(1);	}
}
