/* Default Styles
--------------------------------------------------- */
body {background: #eee;}
.inline { display: inline-block;}
section {margin-top: 2em;}


/* Header
--------------------------------------------------- */
#qr_code {
    background: url("http://api.qrserver.com/v1/create-qr-code/?data=BEGIN%3AVCARD%0AVERSION%3A2.1%0AFN%3AAlekse%20Kuzenkov%0AN%3AKuzenkov%3BAlekse%0ATITLE%3AFront-End%20Developer%0ATEL%3BCELL%3A(506)%208939-1807%0AEMAIL%3BHOME%3BINTERNET%3Aemail%40kuzya.com%0AEMAIL%3BWORK%3BINTERNET%3Aakuzenkov%40gmail.com%0AURL%3Ahttp%3A%2F%2Fkuzya.com%0AADR%3A%3B%3B%3B%3B%3B%3BCosta%20Rica%0AORG%3AKUZYA%20Inc%0AEND%3AVCARD%0A&#38;size=250x250&#38;prov=goqrme");
    background-size: cover;
    background-position: center center;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 13px;
}
.profile_details {display: inline-block;vertical-align: top;}
.contacts .inline:before {content: "*";margin: 3px;}


/* Main Content
--------------------------------------------------- */
#content {
padding: 13px;
border: 1px solid rgb(231, 231, 231);
width: 980px;
margin: 2em auto;
border-radius: 13px;
background: #fff;
}
.summary p {font-size: 19px;line-height: 1;}
section h1 {font-size: 28px;}
#skills details {
display: inline-block;
width: calc(100% / 3.1);
vertical-align: top;
}
summary {
font-size: 24px;
line-height: 1;
padding: 2px;
}
details li {
display: inline-block;
font-size: 18px;
margin: 6px;
padding: 3px 6px;
border: 1px solid;
}

#experience details {
display: inline-block;
vertical-align: top;
margin: 3px;
padding: 6px 9px;
width: calc(100% /3.3);
}
span[itemprop=name] {
display: block;
font-size: 16px;
font-weight: bold;
line-height: 1.3;
padding-left: 34px;
}
.time {
display: block;
padding-left: 36px;
}
.description {
padding-left: 36px;
background: rgba(240, 246, 248, 0.13);
font-size: 16px;
}



/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 720px) and (max-width: 979px) {
    body {background: #fff;}
    #content {border: 0;width: auto;margin: 0;border-radius: 0;}
    #experience details {width: calc(100% /2.2);}

} /* End Tablet Media Query */





/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 719px) {
    body {background: #fff;}
    #content {padding: 0;border: 0;width: auto;margin: 0;border-radius: 0;}
    #experience details, #skills details {width: auto;}


} /* End Mobile Media Query */
